body 
{
	background-image:url(../images/bg_1.jpg);
	  font-family: 微软雅黑, "Open Sans", Helvetica, Arial, sans-serif;
	  color:#444;
	  font-size:14px;
}
.contnet
{
	margin: 50px auto;
	background-image:url('../images/connet_bg.jpg');
	width : 1000px;
	 
	 overflow:hidden;

}
.head_css
{
	 height:110px;
	 width:90%;
	margin-right:auto;
	margin-left:auto;
}
.logo_css
{
	float:left;
	width:290px;
	height:110px;	
}
.share_css
{
	float:right;
	width:206px;
	
	height:56px;
	margin-top: 29px;
}
.nav_css
{
	
	height:50px;
	width:90%;
	margin-right:auto;
	margin-left:auto;
}
/*nav导航栏CSS样式*/
.subnav ul .one{
	width:100px;
}
.subnav ul li{
	
	width:100px;
	line-height:27px;
	height:27px;
	position:relative;
	float:left;
	text-align:center;
	display:inline;
	font-size:12px;
	font-weight: bold;
	z-index:1;
}
.subnav ul li a{
	color:ActiveBorder;
	display:block;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position:77px 6px;
	font-size:18px;
	
}
.subnav ul li a:hover{
	color:White;
	background-color:Red;
	
}
.subnav li ul{
	display:none;
	position: absolute;
	left: 0px;
	width:100px; 
	top:27px;
	left:-40px;

	z-index:1;
}
.subnav li ul li{
	/*border-TOP: none;
	border-bottom: solid 1px #6d7f91;
	border-right: solid 1px #6d7f91;
	border-left: solid 1px #6d7f91;*/
	width:100px; 
	display:block;
	float:left;
	
	
}
.subnav li ul li a{
width:100px; 
	 text-align:center;
	float:left;
	background-color:Red;
}
.subnav ul li:hover ul,.subnav ul li.over ul{
	display:block;
	color:#667788;
}
.subnav li ul li a:hover{
	color:White;
}
.subnav{
	float:left;
	width:600px;
}

.muen{
	font-size:14px;
	width:100%;
	height: 53px;
}
/*nav导航栏CSS样式结束*/
.search_css
{
	width:212px;
	float:right;
	height:20px;
	margin-top: 22px;
}
.top_css
{
	
	height:210px;
	width:90%;
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;	
}
.main_css
{
	 min-height:286px;
	height:auto;
	width:90%;
	margin-right:auto;
	margin-left:auto;
	margin-top:5px;	
	 overflow:hidden;
}
.right_css
{
	width:620px;
	float:left;
	 height:auto;
 overflow:hidden;
}
.news_css
{
	border-bottom:1px  dashed  #32CD99;
	
}
.news_title_css
{
	width:620px;
	height:36px;
		
}
.news_title_css span
{
	font-size:x-large;
}
.news_title_css a
{cursor:pointer;
	color:Black;		
}
.news_contnet_css
{
	width:620px;
	height:220px;
}
.new_img_css
{
	height:180px;
	width:300px;
	float:left;
}
.new_img_css img
{
	 border:none;	
}
.new_css
{
	
	height:180px;	
	float:right;
	width: 312px;
}
.new_css p
{
	font-size:13px;	
}
.PL_css
{
	width:620px;
	height:19px;	
}
.PL_css p
{
	 color:#70DB93;	
}
.left_css
{
	width:260px;
	height:auto;
	float:right;
}
.clear
{
	 clear:both;
}
.footer_css
{
	width:90%;
	background-color:Orange;
	margin-right:auto;
	height:100px;
	margin-left:auto;
	margin-top:10px;			
}
.small_new_css
{
	 width:260px;	
}
.small_new_title_css
{
	 height: 41px;
	color:#32CD99;	
}
.small_new_title_css span
{
	font-size: x-large;
}
.small_news_css
{
	
	border-bottom:1px  dashed  #32CD99;
	margin-top: 0px;
}
.small_news_img_css
{
	width:95px;
	height:56px;
	float:left;	
}
.small_news_img_css img
{
	border:none;	
}
.small_news_conenet_css
{
	float:right;
	width:157px;
	height:61px;
}
.review_css
{
	height:auto;	
}
.review_title_css
{
	color:#32CD99;			
}
.review_title_css span
{
	font-size:x-large;
}
.review_img_css
{
	height:40px;
	width:40px;
	float:left;
}
* img
{
	 border:none;	
}
.review_contnet_css
{
	 float:right;
	 width:193px;
	height: 64px;
}
.reviews_top_css
{
	border-bottom:1px  dashed  #32CD99;
	height: 121px;
}
.review_roun_css
{
	background:#9BD1FA; width:450px;
	float:right;
}
.user_img
{
	float:left;
}
/*新闻版块样式开始*/

/*新闻版块样式结束*/