
.AdminrightTable01data03
{
	background-color: #FFFFFF;
	height: 38px;
}
.AdminrightTable01data03 td
{
	padding-left: 22px;
	text-align: left;
}

.Adminjtselcet3{ width:75px; height:34px; font-size:12px; color:#333333;line-height:30px; }

.Adminjtselcet4{ width:205px; height:34px; font-size:12px; color:#333333;line-height:30px; }

.Adminjtselcet33{ width:105px; height:34px; font-size:12px; color:#333333;line-height:30px; }

.Adminjctitle3{ height:38px; line-height:38px; text-align: center; padding-right:10px; background-color:#6eabdc; color:#FFFFFF; font-weight:800; font-size:15px;}

.Adminjctitle4{ height:38px; line-height:38px; text-align: center; padding-right:10px; background-color:#6eabdc; color:#FFFFFF; font-weight:800; font-size:12px;}



.Adminjctext22{font-size:12px; height:38px; line-height:38px; text-align:center; padding-left:2px; background-color:#f2faff; color:#333;}

.bxxqnexttable22{ border:1px solid  #DFDFDF; line-height:3px; margin-top:3px}


.bxxqnexttabletitle22{ background-color: #EEEEEE; font-weight:100;}


.Adminrighttableselcet22{ width:152px; 
height:34px; font-size:12px; color:#333333;line-height:30px;
}


