<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--设置system目录的相对路径,请相对于web.config文件所在的目录(3.1.8版修改的全局设置)-->
    <add key="systemfolder" value="system_dntb/" />
    <!--设置皮肤目录的相对路径,请相对于system目录(3.1.8版修改的全局设置)-->
    <add key="skin" value="skin/default/" />

    <!--系统日志记录-->
    <add key="SystemLogMode" value="Open"/>
    <add key="SystemLogPath" value="~/Log/SystemLog"/>
  </appSettings>

  <connectionStrings>
    <add name="TrafficExamConnectionString" connectionString="Data Source=CJL-PC\SQLEXPRESS;Initial Catalog=TrafficExam;Persist Security Info=True;User ID=sa;Password=10110818"
      providerName="System.Data.SqlClient" />
    <!--<add name="TrafficExamConnectionString" connectionString="Data Source=.;Initial Catalog=TrafficExam;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="InsuConsulteConnectionString" connectionString="Data Source=sql.w100.vhostgo.com;Initial Catalog=xunbaoibcccom;Persist Security Info=True;User ID=xunbaoibcccom;Password=xunbaoibcccom123;"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1550000" executionTimeout="3000" requestValidationMode="2.0" requestPathInvalidCharacters=""/>
    <sessionState mode="InProc" cookieless="false" timeout="50" />
    <!--<sessionState mode="StateServer" cookieless="false" timeout="60"/>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    </pages>
    <customErrors mode="Off" />
  </system.web>

</configuration>
